@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

section {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 100%;

  padding: 10px;
  padding-left: 50px;
  position: absolute;
}

a img {
  width: 50px;
  height: 75px;
}

.conteudo {
  width: 500px;
  height: 600px;
  padding: 60px;

  background: white;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.conteudo h1 {
  width: 362px;
  height: 59px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 59px;

  margin-bottom: 60px;
}

.conteudo p {
  width: 501px;
  height: 350px;

  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 35px;

  margin-bottom: 40px;
}

.conteudo a {
  /* width: 149px;
  height: 35px; */
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  text-decoration: none;
  color: #c50000;
}

#seta-direita {
  margin-left: 400px;
  margin-right: 50px;
}

#seta-esquerda {
  margin-left: 30px;
  margin-right: 50px;
  transform: rotate(180deg);
}

.mostrar {
  width: 100%;
  height: 100%;

  position: absolute;
}

.opacidade {
  opacity: 1;
}
